.footer {
    border-top: 0.5px solid gray;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.7rem;

    a {
        text-decoration: none;
    }

    .trademarks {
        display: inline-block;

        .disclaimer {
            display: block;
            padding-left: 0.5rem;
            padding-bottom: 0.5rem;
        }

        span {
            border-left: 1px solid lightgray;
            padding-right: 0.5rem;
            padding-top: 0.5rem;
            display: inline-block;

            img {
                width: 1rem;
                padding-left: 0.5rem;
                padding-right: 0.2rem;
            }
        }
    }

    .copyright {
        display: inline-block;
        float: right;
    }
}
